.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.659);
  padding: 10px 15px;
}

header .container {
  max-width: 980px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.navbarWrapper a {
  font-style: bold;
  font-size: 26px;
  color: #fff;
  padding: 0 10px;
  transition: color 0.3s;
}

.navbarWrapper a:hover {
  color: lightblue;
}

.hello {
  font-style: bold;
  font-size: 26px;
  color: #fff;
}

button {
  background-color: #fff;
  color: black;
  font-style: bold;
  border: none;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff8a;
}

main {
  padding: 20px;
}
